{#
/**
 * @file
 * Default theme implementation to display a two-column 66-33 layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 */
#}
{% set classes = [
  'layout',
  'layout-4-8',
  settings.section_classes,
] %}
{% if content %}
  <section{{ attributes.addClass(classes).setAttribute('id', settings.section_identifier) }}>
    <div class="{{ settings.container_class }}">
      {% if settings.title %}
      <{{ settings.title_element }} class="{{ settings.title_classes }}">{{ settings.title | t}}</{{ settings.title_element }}>
    {% endif %}
    <div class="row {{ settings.row_classes }}">
      <div class="col-md-4">
        {% if content.first %}
          <div {{ region_attributes.first.addClass('layout-region', 'layout-region-first', 'layout-region-row-count-2') }}>
            {{ content.first }}
          </div>
        {% endif %}
      </div>
      <div class="col-md-8">
        {% if content.second %}
          <div {{ region_attributes.second.addClass('layout-region', 'layout-region-second', 'layout-region-row-count-2') }}>
            {{ content.second }}
          </div>
        {% endif %}
      </div>
    </div>
    </div>
  </section>
{% endif %}
