{#
/**
 * @file
 * Default theme implementation to display a one column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 * @see https://www.drupal.org/docs/8/api/layout-api/how-to-register-layouts
 * @see https://v4-alpha.getbootstrap.com/layout/grid/
 */
#}
{%
  set classes = [
  'layout',
  'layout-onecol',
  settings.section_classes,
]
%}
{% if content %}
  <section{{ attributes.addClass(classes).setAttribute('id', settings.section_identifier) }}>
    <div class="{{ settings.container_class }}">
      {% if settings.title %}
      <{{ settings.title_element}} class="{{ settings.title_classes}}">{{ settings.title | t}}</{{ settings.title_element }}>
    {% endif %}
    <div class="row {{ settings.row_classes }}">
      <div class="col-md-10 mx-auto">
        <div {{ region_attributes.content.addClass('layout-region', 'layout-region-content', 'layout-region-row-count-1') }}>
          {{ content.content }}
        </div>
      </div>
    </div>
    </div>
  </section>
{% endif %}
