{#
/**
 * @file
 * Default theme implementation to display a three column bricks layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
  'layout',
  'layout-4-4-4',
  settings.section_classes,
]
%}
{% if content %}
  <section{{ attributes.addClass(classes).setAttribute('id', settings.section_identifier) }}>
    <div class="{{ settings.container_class }}">
      {% if settings.title %}
      <{{ settings.title_element}} class="{{ settings.title_classes}}">{{ settings.title | t}}</{{ settings.title_element }}>
    {% endif %}
    <div class="row {{ settings.row_classes }}">
      <div class="col-md-4">
        <div {{ region_attributes.first.addClass('layout-region', 'layout-region-first', 'layout-region-row-count-3') }}>
          {{ content.first }}
        </div>
      </div>
      <div class="col-md-4">
        <div {{ region_attributes.second.addClass('layout-region', 'layout-region-second', 'layout-region-row-count-3') }}>
          {{ content.second }}
        </div>
      </div>
      <div class="col-md-4">
        <div {{ region_attributes.third.addClass('layout-region', 'layout-region-third', 'layout-region-row-count-3') }}>
          {{ content.third }}
        </div>
      </div>
    </div>
    </div>
  </section>
{% endif %}
